{% extends 'encuesta/base.html' %}

<script>
	{% block jquery %}
	var endpoint = "../api/chart/pregunta"
	var datadefault = []
	var labels = []
	$.ajax({
		method:"GET",
		url: endpoint,
		success: function(data){
			labels = data.labels
			 datadefault = data.default
			 grafica()
		},
		error:function(error_data){
			console.log("error")
			console.log(error_data)
		}

	})
function grafica(){
	var ctx = document.getElementById('myChart').getContext('2d');
	var myChart = new Chart(ctx, {
	    type: 'bar',
	    data: {
	        labels: labels,
	        datasets: [{
	            label: '# of Votes',
	            data: datadefault ,
	            backgroundColor: [
	                'rgba(255, 99, 132, 0.2)',
	                'rgba(54, 162, 235, 0.2)',
	                'rgba(255, 206, 86, 0.2)',
	                'rgba(75, 192, 192, 0.2)',
	                'rgba(153, 102, 255, 0.2)',
	                'rgba(255, 159, 64, 0.2)'
	            ],
	            borderColor: [
	                'rgba(255, 99, 132, 1)',
	                'rgba(54, 162, 235, 1)',
	                'rgba(255, 206, 86, 1)',
	                'rgba(75, 192, 192, 1)',
	                'rgba(153, 102, 255, 1)',
	                'rgba(255, 159, 64, 1)'
	            ],
	            borderWidth: 1
	        }]
	    },
	    options: {
	        scales: {
	            yAxes: [{
	                ticks: {
	                    beginAtZero: true
	                }
	            }]
	        }
	    }
	});

}



var endpoint2 = "../api/chart/seleccion"
	var datadefault2 = []
	var labels2 = []
	$.ajax({
		method:"GET",
		url: endpoint2,
		success: function(data){
			labels2 = data.labels
			 datadefault2 = data.default
			 grafica2()
		},
		error:function(error_data){
			console.log("error")
			console.log(error_data)
		}

	})

function grafica2(){
	var ctx = document.getElementById('myChart2').getContext('2d');
	var myChart = new Chart(ctx, {
	    type: 'doughnut',
	    data: {
	        labels: labels2,
	        datasets: [{
	            label: '# of Votes',
	            data: datadefault2 ,
	            backgroundColor: [
	                'rgba(255, 99, 132, 0.2)',
	                'rgba(54, 162, 235, 0.2)',
	                'rgba(255, 206, 86, 0.2)',
	                'rgba(75, 192, 192, 0.2)',
	                'rgba(153, 102, 255, 0.2)',
	                'rgba(255, 159, 64, 0.2)'
	            ],
	            borderColor: [
	                'rgba(255, 99, 132, 1)',
	                'rgba(54, 162, 235, 1)',
	                'rgba(255, 206, 86, 1)',
	                'rgba(75, 192, 192, 1)',
	                'rgba(153, 102, 255, 1)',
	                'rgba(255, 159, 64, 1)'
	            ],
	            borderWidth: 1
	        }]
	    },
	    options: {
	        scales: {
	            yAxes: [{
	                ticks: {
	                    beginAtZero: true
	                }
	            }]
	        }
	    }
	});

}

	{% endblock %}
</script>
{% block content %}
<div class="row">
	<div class="col-sm-12" url-endpoint="{% url 'encuesta:api-data' %}">
		<h1>Hello Word</h1>
		<canvas id="myChart" width="400" height="400"></canvas>

		<canvas id="myChart2" width="400" height="400"></canvas>

	</div>	
</div>

{% endblock content %}